<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>

        <customErrors mode="On" defaultRedirect="error.php">
            <error statusCode="404" redirect="404.php" />
        </customErrors>

    </system.web>

    <system.webServer>
        <!-- 404 handling for everything not .aspx -->
        <httpErrors errorMode="Custom">
            <clear />
            <error statusCode="404" path="404.php" responseMode="Redirect"/>
        </httpErrors>
    </system.webServer>
</configuration>
